
/* del pixel 0 al 1250px se ejecutara los siguientes estilos */
@media (max-width:1250px) {

    /* no olvidar que el .wrap controla todos los anchos
     de casi todo los elementos de la pagina */
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #tarjetas .tarjeta{
        width: 15%;
        margin: 1.45%;
    }

    .tarjeta p{
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer #browser img{
        width: 15%;
    }

}

@media (max-width:952px) {
    .tarjeta .categoria{
        font-size: 17px;
    }

    .tarjeta .descripcion{
        font-size: 13px;
    }

    #articles{
        width: 55%;
    }

    #footer .wrap > div {
        width: 20%;
    }

    #footer #browser img{
        width: 10%;
    }

    #footer h5{
        font-size: 20px;
    }

    #navegacionfooter ul li a{
        font-size: 20px;
    }

}





@media (max-width:850px){
    #header #navegacion ul li a{
        font-size: 15px;
    }
    #navegacion{
        margin-right: 8%;
    }

    #footer h5{
        font-size: 15px;
    }

    #footer #navegacionfooter ul li a{
        font-size: 15px;
    }

    #footer .wrap > div {
        width: 18%;
    }
}





@media (max-width:800px){
    #lateral{
        width: 40%;
    }

    .tarjeta .descripcion{
        font-size: 10px;
    }

    .tarjeta .categoria{
        font-size: 13px;
    }

    #articles h2{
        font-size: 20px;
    }

    #lateral h3{
        font-size: 20px;
    }

    #articles{
        width: 50%;
    }

    #articles article h4 a{
        font-size: 15px;
    }

    #articles article p{
        font-size: 12px;
    }

    #login #user{
        margin-left: 220px;
    }

    #login #pass{
        margin-left: 223px;
    }

    #login input[type="submit"], 
    #login input[type="reset"], 
    #login input[type="button"], 
    #login button{
        width: 30%;
    }

    #lateral input[type="button"], 
    #lateral input[type="submit"]{
        margin-left: -8px;
    }

    #lateral input[type="submit"]{
        margin-left: 40px;
    }

}





@media (max-width:770px){
    #header #navegacion ul li a{
        font-size: 13px;
    }

    #info #banner h1{
        font-size: 25px;
    }

    #login #user{
        margin-left: 190px;
    }

    #login #pass{
        margin-left: 193px;
    }
}


@media (max-width:788px){
    #header #navegacion ul li a{
        font-size: 13px;
    }

    #navegacion{
        margin-right: 4%;
    }

    #login #user{
        margin-left: 190px;
    }

    #login #pass{
        margin-left: 193px;
    }

}



@media (max-width:700px){
    #header #navegacion ul li a{
        font-size: 13px;
    }

    #navegacion{
        margin-right: 4%;
    }

}

@media (max-width:650px) {
    #login #user{
        margin-left: 175px;
    }

    #login #pass{
        margin-left: 178px;
    }
}


@media (max-width:583px){
 
    #lateral input[type="button"]{
        margin-left: -11px;
    }

    #login #user{
        margin-left: 155px;
    }

    #login #pass{
        margin-left: 158px;
    }

    #lateral input[type="submit"]{
        margin-left: 25px;
    }
}

@media (max-width:580px){
    #lateral{
        float: none;
        margin: 0px auto;
        min-height: 1000px;
        width: 500px;
    }

    #articles{
        width: 100%;
    }

    #lateral input[type="button"] {
        margin-left: 16px;
    }

    #login #user {
        margin-left: 390px;
    }

    #login #pass {
        margin-left: 393px;
    }

    #lateral input[type="submit"] {
        margin-left: 80px;
    }

    #footer .wrap > div {
        width: 50%;
    }

    #footer {
        height: 1300px;
    }

}



